<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/bootstrap.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/stylesheet.css" type="text/css">
    <script type="text/javascript" src="/assets/script.js"></script>
    <title>SJU Course Lookup Results</title>
  </head>
  <body>
    <div class="sjuLogo">
      <img src="https://teenlife.s3.amazonaws.com/media/uploads/listings/r227M6vjcred.jpg" alt="SJU Logo">
    </div>

    <div class="headings">
      <h2>Division of Computer Science, Mathematics, and Science</h2>
      <h5>The Lesley H. and William L. Collins College of Professional Studies</h5>
    </div>

    <!--EJS Syntax-->
    <div id = "allCourses" class="courses">
      <% if (data[0].title != "No courses found."){ %>
      <% data.forEach((course) => { %>
        <ul> <strong><%= course.title %> </strong>
          <li><%= course.course_code %></li>
          <li><%= course.instructor %></li>
          <li><%= course.day %></li>
          <li>Seats: <%= course.seats_available %></li>
          <li><%= course.type %></li>
        </ul>
      <% })} else{ %>
        <ul> <strong><%= data[0].title %> </strong>
      <% } %>
    </div>

    <div class="backButton">
      <form action="/" method="get">
        <input type="submit" value="Return to Homepage">
      </form>
    </div>

  </body>
</html>
